.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.title {
    font-size: 3em;
    font-family: 'Caveat', cursive;
    max-width: 400px;
    text-align: center;
    color: #09154B;
    /* border: 0px solid #FF7B29; */
    border-radius: 20px;
    /* box-shadow: 0 0px 10px #FF7B29 ; */
    padding: 10px 30px;
}

.title--highlighted {
    color: #FF7B29 ;
}

@media (max-width: 934px) {
    .title {
        display: none;
    }
}