.nav {
    background-color: #09154B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    font-size: 1.3em;
    position: sticky;
    top: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    padding: 0 20px;
}

.menu {
    width: 100%;
    list-style: none;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;      
}

@media (max-width: 750px) {

    .menu {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #09154B;
        opacity: 0.9;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        opacity: 0;
        pointer-events: none;
    }

    .menu--opened {
        opacity: 0.9;
        pointer-events: unset;
    }

}

a {
    text-decoration: none;
    color: inherit;
}

.menu__item {
    padding: 20px 40px;
    border-radius: 40px;
    margin: 0 10px;
    transition: color 1s, background-color 1s, border-radious 1s;
}

.menu__item:hover {
    border-radius: 40px;
    background-color: whitesmoke;
    color: #09154B;
}

.icon {
    padding: 10px;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
}

@media (max-width: 750px) {
    .icon {
        padding: 20px 0;
        align-self: center;
        text-align: center;
    }
}

.mobileButton {
    display: none;
    border: none;
    background-color: transparent;
}

.navMenu {
    max-width: 30px;
    padding: 10px 0;
}

@media (max-width: 750px) {
    .mobileButton {
        display: unset;
    }

    .mobileButton--opened {
        display: none;
    }
}
